<footer>
    <div class="container-footer-all">
        <div class="container-body">
            <div class="column1">
                <h1>SIN indumentaria</h1>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis fugit officia ab eligendi
                    impedit
                    rem itaque ex rerum ipsum deserunt cum aliquam consequatur aperiam perspiciatis, optio ducimus
                    culpa
                    alias magnam!</p>
            </div>
            <div class="column2">
                <h1>Nuestras redes</h1>
                <div class="row">

                    <label>
                     
                            Siguenos en Facebook</label>
                            <a href="#" class="bar-button"><i class="fa fa-facebook-official"></i></a>
                </div>
                
                <div class="row">

                    <label>
                        <i class="fab fa-instagram-square"></i>
                        Siguenos en Instagram</label>
                </div>

                <div class="row">

                    <label>
                        <i class="fab fa-pinterest"></i>
                        Siguenos en Pinterest</label>
                </div>

            </div>

            <div class="column3">
                <h1>Información Contactos</h1>
                <div class="row2">
                    <label><i class="fas fa-map-marker-alt"></i>

                        Av. Saraza 1563-Buenos Aires - Argentina
                    </label>

                    <div class="row2">
                        <label>
                            <i class="fas fa-phone-square-alt"></i>
                            +541166312005</label>

                    </div>

                    <div class="row2">

                        <label>
                            <i class="far fa-envelope"></i>
                            Sindumentaria@gmail.com</label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-footer">
        <div class="copyright">
            @2021 Todos los derechos reservados
        </div>

</footer>
</body>


   