<header>
    <nav>
        <div class="container-logo">
            <img class="logo" src="images/LOGO.png" alt="">
        </div>
        <ul>
            <li>
                <a href="">LINK</a>
            </li>
            <li>
                <a href="">LINK</a>
            </li>
            <li>
                <a href="">LINK</a>
            </li>
            <li>
                <a href="">LINK</a>
            </li>
        </ul>
        <a class="boton-mobile" href="">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</header>