    <%- include('partials/head')%>
    <%- include('partials/header')%>
    <main>
        <!--
        <div id="carrusel">
            <a href="#" class="left-arrow"><img src="" /></a>
            <a href="#" class="right-arrow"><img class="fotoProducto" src="/images/right-arrow" /></a>
            <div class="carrusel">
                <div class="product" id="product_0">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 1</h5>
                    <p> precio</p>
                </div>
                <div class="product" id="product_1">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 2</h5>
                    <p>precio</p>
                </div>
                <div class="product" id="product_2">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 3</h5>
                    <p>precio</p>
                </div>
                <div class="product" id="product_3">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 4</h5>
                    <p>precio</p>
                </div>
                <div class="product" id="product_4">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 5</h5>
                    <p>precio</p>
                </div>
                <div class="product" id="product_5">
                    <img src="" width="195" height="100" />
                    <h5>Lorem ipsum 6</h5>
                    <p>precio</p>
                </div>
            </div>
        </div>
        -->

        <div class="ver contenedor">
            <div class="cajaMujer">
                <img class="fotoMujer" src="\images\mono.jpg" alt="">
                <div class="mujer">Ver mujer</div>
            </div>
            <div class="cajaHombre">
                <img class="fotoHombre" src="\images\chaleco.jean.hombre.jpg" alt="">
                <div class="hombre">Ver hombre</div>
            </div>
            
            
        </div>

        <div class="productos">
            <h2 class="oferta">Ofertas</h2>
            <div class="contenedor productos">

                <article>

                    <img class="fotoProducto" src="/images/mono.jpg" alt="">
                    <h3 class="nombreProducto">Nombre producto</h3>
                    <div class="agregarCarrito">Agregar al carrito</div>
                </article>

                <article>
                    <img class="fotoProducto" src="\images\remera.london.hombre.jpg" alt="">
                    <h3 class="nombreProducto">Nombre producto</h3>
                    <div class="agregarCarrito">Agregar al carrito</div>
                </article>

                <article>
                    <img class="fotoProducto" src="\images\chaleco.jean.hombre.jpg" alt="">
                    <h3 class="nombreProducto">Nombre producto</h3>
                    <div class="agregarCarrito">Agregar al carrito</div>
                </article>

            </div>


        </div>
    </main>
    <%- include('partials/footer')%>

