<%- include('partials/head')%>
<%- include('partials/header')%>

<section class="form-login">
    <h5> Bienvenido! </h5>
    <form action= "" method= "">
        <div >
            
            <input class="input-login" type= "email" name= "email" id= "email" placeholder= "email">
        </div>
        <div >
            
            <input class="input-login" type= "password" name= "contraseña" id= "contraseña" placeholder="contraseña">
        </div>
        <button class="button" type= "submit"> Iniciar Sesión </button>
    </form>
    <a href= "#" class="link-login"> ¿Olvidaste tu contraseña? </a>
   </section>
   

<%- include('partials/footer')%>