<%- include('partials/head')%>
<%- include('partials/header')%>
<main>     
    <div class="contenido">
                
   <div class="caja">
    <div class="img">
     <div class="img1"><img src="/images/mono.jpg" height="150" width="90" alt=""></div>
     <img src="/images/jean.mujer.jpg" height="150" alt="">
     <div class="img3"><img src="/images/jean.mujer.jpg" height="150" alt=""></div>
   </div>
   </div>
   <div class="caja">
                 <div class="img-full"> <img src="/images/jean.mujer.jpg"  height="400" width="400" alt=""></div> 
                 </div>

   <div class="caja">
 <div class="product">
     <h3>Nombre del producto</h3>
                <h5>Precio</h5>
                        <div class="descripcion-product"> <h4>Descripcion del producto</h4>
                         <label>Colores<br>
                         <input type= "radio" name= "color"> Color 1
                         <input type= "radio" name= "color"> Color 2
                         <input type= "radio" name= "color"> Color 3
                         </label>
                         <label>Talles<br>
                             <input type= "radio" name= "talle"> Talle 1
                             <input type= "radio" name= "talle"> Talle 2
                             <input type= "radio" name= "talle"> Talle 3
                             </label> <br>
                           </div>
                          
                            <div class="botones">
                           <button type= "submit">AGREGAR AL CARRITO</button>
                         <select name="Formas-de-pago">
                   
                             <option>Tarjeta de crédito</option>
                             
                             <option>Mercado Pago</option>
                             
                             <option>Transferencia</option>
                             
                             </select>
                         
                         <select name="Metodos-de-envio">
                   
                             <option>opcion 1</option>
                             
                             <option>opcion 2</option>
                             
                             <option>opcion 3</option>
                             
                             </select>
                           </div>
  </div>
           
   </div>
                     
                  
       </div>                                             



  
 </main>
 <%- include('partials/footer')%>