<%- include('partials/head')%>
<%- include('partials/header')%>
<section class="form-register">
    <h5> Estás a un paso de ser parte de esta comunidad! </h5>
    <form action= "" method= "">
        <input class="input-register" type="text" name= "nombre" id= "nombre" placeholder="nombre"> 
        <input class="input-register" type="email" name= "email" id= "email" placeholder="email">
        <input class="input-register" type="password" name= "contraseña" id= "contraseña" placeholder="contraseña">
        <input class="input-register" type="password" name= "contraseña" id= "contraseña" placeholder="confirmar contraseña"> 
        <button class="input-register" class="button" type= "submit"> Crear cuenta </button>
    </form>
    
  
</section>

<%- include('partials/footer')%>